.label-text {
	color: #999;
}

.p-l-none label {
	font-weight: normal;
}

.nowrap {
	white-space: nowrap;
}

.nav-tabs-custom .nav-tabs li {
	cursor: pointer;
}

.lineHeight {
	line-height: 54px;
}


/*****上传图片******/

.papers-img {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
}

.papers-img img {
	max-width: 100px;
	max-height: 100px;
}

.local {
	color: #fa4c4d;
	text-align: center;
	width: 100px;
	display: inline-block;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 550px;
		margin: 30px auto;
	}
}