@charset "utf-8";
.form-group.site-close {
    display: none;
}
.upload-img {
    height: 270px;
    width: 350px;
    line-height: 270px;
    border: 1px dashed #ddd;
    text-align: center;
}
.btn-upload {
	width: 350px;
    margin-top: 20px;
}
#sliderImg {
	display: none;
}
