@charset "utf-8";

/*设计运费模板*/
.ncap-waybill-list li {
	float: left;
    width: 20%;
    padding-bottom: 8px;
}
.ncap-waybill-list li i {
    cursor: pointer;
}
.waybill_area {
	position: relative;
	width: 870.2px;
	height: 478.8px;
}

.waybill_back {
	position: relative;
	width: 870.2px;
	height: 478.8px;
}

.waybill_back img {
	width: 870.2px;
	height: 478.8px;
}

.opt {
    font-size: 12px;
    line-height: 24px;
    vertical-align: top;
    letter-spacing: normal;
    display: inline-block;
}

.waybill_design {
	position: absolute;
	left: 0;
	top: 0;
	width: 870.2px;
	height: 478.8px;
}

.waybill_item {
	background-color: #FEF5E6;
	width: 90px;
	height: 24px;
	padding: 1px 5px 4px 5px !important;
	border-color: #FFBEBC;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	cursor: move;
	position: absolute;
	left: 0;
	top: 0;
}

.waybill_item:hover {
	padding: 1px 5px 1px 5px !important;
	border-color: #FF7A73 !important;
	border-width: 1px 1px 4px 1px !important;
}

.p-notic {
	float: left;
    color: #999;
    font-size: 12px;
}